#wrapper-panel{
    border: 0.5 solid black;
    margin: 100px auto;
    width: 400px;
    background-color: #0080ff;

}

#text-panel{
    
    font-size: auto ;
    color: aliceblue;
    margin-left: 6rem;
}