#wrapper-panel{
    border: 0.5 solid black;
    margin: 100px auto;
    width: 400px;
    background-image: linear-gradient(to bottom, #689eb8, #5b91ac, #4e849f, #417793, #336b87);
}


#text-panel{
    font-size: auto ;
    color: aliceblue;
    margin-left: 3.5rem;
    margin-top: 2rem;
}

#textarea{
    height: 100px;
}

#btn-cancel {
    margin-left: 15px;
}

#btn-post{
    width: 79px;
    font-size: 17px;
}

#btn-cancel{
    width: 79px;
    font-size: 17px;
    height: 36px;
    padding-top: 6px;
}