#home-page-wrapper {
    height: auto;
}

#left-nav {
    height: 100%;
    padding-bottom: 500px;
}

#btn-create-newPost{
    color: white;
    margin-top: 50px;
}

/* Footer */
#footer{
    color: #AAA;
    background: #0B3861 none repeat scroll 0% 0%;
}

#footer p{
    text-align: center;
}


