#home-page-wrapper {
    height: auto;
}

#left-nav {
    height: 100%;
    padding-bottom: 500px;
}

#btn-create-newPost{
    color: white;
    margin-top: 50px;
}

/* Footer */
#footer{
    color: #AAA;
    background: #0B3861 none repeat scroll 0% 0%;
}

#footer p{
    text-align: center;
}

.userDisplay {
    color: green;
    text-decoration: underline;
}

#panel-color{
    /* background-image: linear-gradient(to bottom, #689eb8, #5b91ac, #4e849f, #417793, #336b87); */
    background-image: linear-gradient(to right, #2e4db2, #0086c7, #2eb2bc, #a7d5bf, #f4f7eb);
}

#card-header{
    /* background-color: #0571ff; */
    background-image: linear-gradient(to right, #2e4db2, #0086c7, #2eb2bc, #a7d5bf, #f4f7eb);
    color: white;
}
