/*Home Page*/

#home-page-wrapper {
    height: auto;
}

.fa-circle{
color: green;
}

/* Footer */
#footer{
    color: #AAA;
    background: #0B3861 none repeat scroll 0% 0%;
    padding: 10px 0px;
}

h1, label, a , h3, h5, p{
    font-family: 'Acme', sans-serif;
}
