form label{
    font-size: 25px;
    color: floralwhite;
    margin-top: 10px;
}

#login-wrapper {
    background-image: linear-gradient(to bottom, #689eb8, #5b91ac, #4e849f, #417793, #336b87);
    height: 600px;
    text-align: center;
}

img {
    width: 250px;
    height: 200px;
    margin-bottom: 10px;
}

#button-log{
    width: 100%;
}

.display-warning {
    color: red;
    font-weight: bold;
    font-size: 1rem;
    display: block;
}

.hide-warning {
    display: none;
    visibility: hidden;
}

#loader{
    text-align: center;
    margin-top: 10px;
}

.text-align{
    text-align: left;
}