form label{
    font-size: 25px;
    color: floralwhite;
    margin-top: 10px;
}

#width1{
    width: 300px;
}

#width2{
    width: 300px;
}

.login-wrapper {
    margin: 100px 38%;
    background-image: linear-gradient(to bottom, #689eb8, #5b91ac, #4e849f, #417793, #336b87);
    padding: 22px;
    position: absolute;
}

img {
    width: 250px;
    height: 200px;
    margin-left: 40px;
    margin-bottom: 10px;
}

#btn-login {
   margin-left: 120px;
}

#button-log{
    width: 300px;
}

.display-warning {
    color: red;
    font-weight: bold;
    font-size: 1rem;
    display: block;
}

.hide-warning {
    display: none;
    visibility: hidden;
}

#loader{
    text-align: center;
    margin-top: 10px;
}