form label{
    font-size: 25px;
    color: floralwhite;
}

#width1{
    width: 300px;
}

#width2{
    width: 300px;
}

.login-wrapper {
    margin: 100px 38%;
    padding: 10px;
}

img {
    width: 250px;
    height: 200px;
    margin-left: 40px;
    margin-bottom: 10px;
}

#btn-login {
   margin-left: 120px;
}